.viz-container {
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.navbar {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height:39px;
}

.navbar-item {
    float: left;
}

.navbar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-item a:hover {
    background-color: #111;
}
body {
    margin-top:0;
}
pre {
    margin:0;
    width:200px;
}
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 15px;

}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.scoreboard {
    width: 600px;
}

#scoreboardTitle {
    border: none;
    font-size: 20px;
    height: 40px;
}

#scoreboardMain {
    border-width: 3px;
    border-color: black;
    margin-left: 30px;
}

#scatter-plot {
    margin-left: 20px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

.viz-item {
    display: flex;
}

.data {
    flex-direction: row;
    width: 600px;
    align-content: center;
    text-align: center;
}
.cell {
    width: 300px;
    height: 40px;
    text-align: center;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000000;
    stroke-width: 1px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.text-container {
    width: 75%
}

#world-map path.country:not(.selected) {
    fill: white !important;
}

#world-map path.country.region-disabled {
    fill: lightgrey !important;
}