.viz-container {
    margin: 15px;
}
.navbar {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height:39px;
}

.navbar-item {
    float: left;
}

.navbar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-item a:hover {
    background-color: #111;
}
body {
    margin-top:0;
}
pre {
    margin:0;
    width:200px;
}
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 15px;

}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.scoreboard {
    width: 400px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
}
.data {
    flex-direction: row;
    width: 400px;
    align-content: center;
    text-align: center;
}
.cell {
    width: 200px;
    height: 40px;
    text-align: left;
}

#scoreboardTitle {
    font-size: 20px;
}

.xAxis {
    font: 10px sans-serif;
}
.xAxis path,
.xAxis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 1px;
}